<header>
  <nav id="navbar">
    <div class="logo">
      <%= render TuneWeb.HeaderView, "icon_logo.html" %>
    </div>


      <div class="profile">

   <button class="mx-auto items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white bg-pink-900">
  <%= link gettext("Home"), to: "/" %>

  </button>

 &nbsp;&nbsp; ·

 &nbsp;&nbsp; ·

   <button class="mx-auto items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white bg-pink-900">
  <%= link gettext("demand another"), to: Routes.online_concert_demand_path(@conn, :new) %>

  </button>
 &nbsp;&nbsp; · &nbsp; &nbsp;

   <button class="mx-auto items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white bg-pink-900">

  <%= link gettext("credits"), to: "https://github.com/fully-forged/tune#credits", target: "_blank" %>
 &nbsp;&nbsp; · &nbsp; &nbsp;
  </button>


   <button class="mx-auto items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white bg-pink-900">

  <%= link gettext("source"), to: "https://github.com/fully-forged/tune", target: "_blank" %>
  </button>
</div>


    </div>
  </nav>
</header>
<main role="main" class="logged-out">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
