<h1>new concert demand</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.online_concert_demand_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.online_concert_demand_path(@conn, :index) %></span>
