$text-color: #606c76;
// $accent-color: darken(#ff7f3a, 20%);
$accent-color: darken(#a00202, 20%);

$complementary-accent-color: darken($accent-color, 20%);
$bg-color:rgb(184, 62, 6);

$light-gray: #f2f4f8;
